.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.background-image {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* You can add more CSS properties to style the background image as needed */
}

/* styles.css */

/* CSS for the navigation bar */
.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Black background with slight transparency */
  padding: 15px; /* Add padding for spacing */
  position: fixed; /* Fixed position to stay at the top */
  width: 100%; /* Full width */
  top: 0; /* Place at the top of the page */
  z-index: 1; /* Ensure it's above other content */
}

/* Style for the navigation items */
.navbar ul {
  list-style: none; /* Remove list bullets */
  padding: 0; /* Remove padding */
  display: flex; /* Display items in a row */
  justify-content: center; /* Center-align items horizontally */
}

.navbar li {
  margin: 0 15px; /* Add spacing between items */
}

.navbar a {
  text-decoration: none; /* Remove underlines from links */
  color: white; /* Text color for navigation items */
  font-size: 18px; /* Adjust font size as needed */
}

/* Style for the navigation items on hover */
.navbar a:hover {
  color: #f2f2f2; /* Change text color on hover */
}
