.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.background-image {
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* You can add more CSS properties to style the background image as needed */
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.navbar p{
  margin-right: 800px;
}

.navbar button{
  background-color: #007bff; /* Blue background color */
  color: white; /* Text color */
  padding: 10px 20px; /*Padding for the button*/
  border: none; /* Remove border */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  margin: 17px;
}

.navbar button:hover{
  background-color: #0056b3;
}



